{% extends 'layout.html' %}
{% block content %}
<div class="row justify-content-center align-items-center" style="min-height: calc(100vh - 200px);">
  <div class="col-md-5">
    <div class="card">
      <div class="card-body p-4">
        <h5 class="card-title mb-3">Вход администратора</h5>
        <form method="post" autocomplete="off">
          <div class="mb-3">
            <label class="form-label">Логин</label>
            <input type="text" name="username" class="form-control" required>
          </div>
          <div class="mb-3">
            <label class="form-label">Пароль</label>
            <input type="password" name="password" class="form-control" required>
          </div>
          <button class="btn btn-primary w-100">Войти</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
